<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/IDEA-wocksplace/Eddata/src/test/java/com/test/newTest.java"><classes><class name="com.test.newTest"><methods><include name="openweb"/></methods></class></classes></test></suite>